* {
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
}

/* Topo da página */

header {
    background-color:#CF2B2B;
    width: 100%;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 21px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

header p {
    font-family: Righteous;
    font-size: 44px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

header span {
    font-family: roboto;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

 main {
     background-color: #E5E5E5;
     min-width: 414px;
    padding-bottom: 16px;
    margin-top: 92px;
    margin-bottom: 92px;
} 

/* Início da seção de pratos */

.texto-titulo {
    margin-left: 19px;
    padding-top: 31px;
    margin-bottom: 17px;
    font-family: righteous;
    font-size: 26px;
}

/* Comando para ocultar a scrollbar */

section {
    width: 100%;
    padding-left: 3px; 
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
}

/* Descrição de um prato */

article {
 /*   box-sizing:content-box; */
    background-color: #FFFFFF;
    margin-left: 16px;
    padding-top: 18px;
    padding-left: 14px; 
    padding-right: 14px;
    padding-bottom: 13px; 
    width: 176px;
    height: 214px;
    border-radius: 9px;
}

article img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.prato {
    font-family: roboto;
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px; 
    color: #333333;
}

.descricao {
    font-family: roboto;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 4px;
    color: #A6A6A6;
}

.preco-check {
    display: flex;
    align-items: center;
    margin-top: 12px; 
    justify-content: space-between;
}

.preco {
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
 /*  margin-top: 14px; */
    color: #000000;
}

.icone-check {
    font-size: 20px;
    color: #32B72F; 

}

/* Barra inferior da página */

footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom:0;
    left:0;
}

.barrainferior {
  /*  background-color: blue; */
}



.pedido {
    background-color: #CBCBCB;
    height: 61px;
    width: 364px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.ativado {
    background-color:#32B72F;
}

.clicar {
    background-color:blue;
}
.pedido p {
    font-family: roboto;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.escondido {
    display: none;
}

.bordaverde {
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}

.fundoazul {
    background-color: blue;
}
@media (max-width: 614px) {
       /* Comando para ocultar a scrollbar */
    ::-webkit-scrollbar {
        width: 0px;
    }     
}
@media (min-width: 614px) {

    main {
    /*   background: blue; */
    }

    section {
      /*  overflow-x: scroll;  */
    }
}